# Redirect every request to 3obootstrap.php
# you should edit this file to fit your needs
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /3oCore/
RewriteRule (.+)(\.php)? 3obootstrap.php?page=$1
</IfModule>
